.new-campaign {
  height: 100%;
}

.new-campaign__card.ui.card {
  margin: auto;
  width: 300px;
  top: 50%;
  transform: translate(0, -50%);
}

.new-campaign__input {
  margin: 12px 0px 24px 0px;
}
